*__pycache__*
.snakemake/
ClassifyCNV-1.1.0/

results/robust/models/randomforest*.json
results/robust/models_log/randomforest*.json
results/minmax/models/randomforest*.json
results/minmax/models_log/randomforest*.json

plots/*.jpg
