*__pycache__*
.snakemake/
ClassifyCNV-1.1.0/

results/robust/models/randomforest*.json.gz
results/robust/models_log/randomforest*.json.gz
results/minmax/models/randomforest*.json
results/minmax/models_log/randomforest*.json

!results/README.md

!plots/README.md

results/old
*ipynb_checkpoints*

data/shap_data/

scripts/plots/shap_plots.ipynb

scripts/plots/length_stratification.py
